         @import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
         body {
             margin: 0;
             height: 100vh;
             width: 100%;
             background: black;
             display: flex;
             font-family: 'Saira Stencil One', cursive;
         }
         
         .container {
             margin: auto;
             padding: 20%;
             position: relative;
             height: 500px;
             width: 550px;
             overflow: hidden;
         }
         
         h1,
         .gradient {
             position: absolute;
             top: 35%;
             left: 50%;
             transform: translate(-50%, -50%)
         }
         
         h1 {
             margin: 0;
             font-size: 3rem;
             text-align: center;
             text-transform: uppercase;
             letter-spacing: .5rem;
             padding-left: 20px;
             z-index: 1;
             color: white;
             background: black;
             mix-blend-mode: multiply;
             width: 90%;
         }
         
         .gradient {
             height: 130px;
             width: 300%;
             background: linear-gradient(90deg, purple, rgb(8, 216, 231), pink, orange, red, purple, rgb(8, 216, 231), pink, orange, red, purple, rgb(8, 216, 231), pink, orange, red);
             animation: gradient 5s linear infinite alternate;
         }
         
         @keyframes gradient {
             0% {
                 transform: translate(-25%, -50%);
             }
             100% {
                 transform: translate(-75%, -50%);
             }
         }